@(trainFeedBack:List[play.api.libs.json.JsValue], stationForm: Form[model.StationFormData],temp : Seq[model.Station], time : String, week:Int ,direction:Int )(implicit request: RequestHeader)
@main(time,week,direction) {
<table border=1>
    <tr><td></td>@for(i<- 1 to 11){<td>@i 号車</td>}</tr>
    @for(j<- 0 until trainFeedBack.length ){
    <tr>
        <td>@temp.find(_.id == (trainFeedBack(j).\("stationId").get.toString().toInt)).get.name</td>
        <td>
            @if(trainFeedBack(j).\("carNo1").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo1").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo1").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo1").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo1").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo2").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo2").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo2").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo2").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo2").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo3").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo3").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo3").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo3").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo3").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo4").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo4").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo4").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo4").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo4").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo5").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo5").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo5").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo5").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo5").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo6").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo6").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo6").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo6").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo6").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo7").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo7").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo7").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo7").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo7").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo8").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo8").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo8").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo8").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo8").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo9").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo9").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo9").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo9").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo9").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo10").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo10").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo10").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo10").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo10").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
        <td>
            @if(trainFeedBack(j).\("carNo11").get.toString() == "1"){1<img border="0" src="@routes.Assets.versioned("images/1.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo11").get.toString() == "2"){2<img border="0" src="@routes.Assets.versioned("images/2.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo11").get.toString() == "3"){3<img border="0" src="@routes.Assets.versioned("images/3.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo11").get.toString() == "4"){4<img border="0" src="@routes.Assets.versioned("images/4.png")" width="35" height="30" alt="image">}
            @if(trainFeedBack(j).\("carNo11").get.toString() == "5"){5<img border="0" src="@routes.Assets.versioned("images/5.png")" width="35" height="30" alt="image">}
        </td>
    </tr>
    }
</table>
}